<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<% if product.errors.any? %>
    <section class="bg-rose-600 my-4 p-4 text-white">
        <ul>
            <% product.errors.full_messages.each do |message| %>
                <li>
                    <%= message %>
                </li>
                <% end %>
        </ul>
    </section>
<% end %>
<%= form_with model: product, data: { turbo: false } do |form|%>
    <div>
        <%= form.label :cover, class:'label' %>
        <%= form.file_field :cover, class:'file-input file-input-sm file-input-bordered w-full max-w-xs' %>
    </div>
    <div>
        <%= form.label :title , class:'label'%>
        <%= form.text_field :title, class: 'input input-bordered input-sm w-full max-w-xs' %>
    </div>
    <div>
        <%= form.label :description , class:'label'%>
        <%= form.text_area :description, class: 'textarea textarea-bordered w-full max-w-xs' %>
    </div>
    <div>
        <%= form.label :price, class:'label'%>
        <%= form.number_field :price, class: 'input input-bordered input-sm w-full max-w-xs' , min: 0 %>
    </div>
    <div>
        <%= form.label :onsale %>
        <%= form.check_box :onsale %>
    </div>
    <div>
        <%= form.label :publish_date , class:'label' %>
        <%= form.text_field :publish_date, data: { controller: "datepicker" },  
                                            class: 'input input-bordered input-sm w-full max-w-xs' %>
    </div>
    <div class="my-4">
        <%= form.submit class: 'btn btn-sm btn-primary'%>
    </div>
<% end %>