<%= tag.li data:{ id: product.id }, class:class_names("p-2 border rounded shadow border-slate-300 bg-white", "grayscale": !product.onsale) do %>
  <div>
    <%= link_to edit_product_path(product) do %>
    <figure>
        <%= product_cover(product) %>
    </figure>
    <% end %>
    <h2><%= product.title %></h2>
    <span><%= product.price %></span>
    <p>
        <%= product.description %>
    </p>
  </div>
<% end %>

<!-- li data-id="<%= product.id %>" 
  class="<%= class_names("p-2 border rounded shadow border-slate-300 bg-white", "grayscale": !product.onsale) %>">
    <div>
        <%= link_to edit_product_path(product) do %>
        <figure>
            <%= product_cover(product) %>
        </figure>
        <% end %>
        <h2><%= product.title %></h2>
        <span><%= product.price %></span>
        <p>
            <%= product.description %>
        </p>
    </div>
</li -->