<li class="p-2 border rounded shadow border-slate-300">
    <div>
        <%= link_to product_path(product) do %>
        <figure>
            <%= product_cover(product) %>
        </figure>
        <% end %>
        <h2><%= product.title %></h2>
        <span><%= product.price %></span>
        <p>
            <%= product.description %>
        </p>
    </div>
</li>