<h1>新增商品</h1>
<% if @product.errors.any? %>
<section class="bg-rose-600 my-4 p-4 text-white">
    <ul>
        <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
    </section>
<% end %>
<%= form_with model: @product, data: { turbo: false } do |form|%>

<div>
<%= form.label :title %>
<%= form.text_field :title, class: 'border-2 border-black m-2'%>
</div>
<div>
<%= form.label :description %>
<%= form.text_area :description, class: 'border-2 border-black m-2'%>
</div>
<div>
<%= form.label :price%>
<%= form.number_field :price, class: 'border-2 border-black m-2', min: 0 %>
</div>
<div>
<%= form.submit class: 'bg-gray-500 text-white p-2 m-2'%>
</div>
<% end %>
<!-- 
<form action="/products" method="post" data-turbo="false">
    <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
    <div>
    <label for="title">Title</label>
    <input name="product[title]" type="text" id="title" class="border-2 border-black">
    </div>
    <div>
    <label for="description">Description</label>
    <textarea name="product[description]" id="description" class="border-2 border-black"></textarea>
    </div>
    <div>
    <label for="price">Price</label>
    <input name="product[price]" type="number" id="price" min="0" class="border-2 border-black">
    </div>
    <button class="bg-gray-500">新增</button>
</form>
-->