<% if user_signed_in? and current_user.own?(@product)  %>
    <%= link_to '編輯' , edit_product_path(@product), class: 'ink-btn' %>
    <%= link_to '刪除' , product_path(@product), class: 'ink-btn ink-btn-danger' , data: { turbo_method: 'delete' ,
            turbo_confirm: '確定刪除？' } %>
<% end %>


<section class="grid grid-cols-1 gap-3 sm:grid-cols-3">
    <div class="col-span-2">
        <%= image_tag @product.cover.variant(:thumb) if @product.cover.attached? %>
    </div>
    <div class="col-span-1">
        <%= form_with url: cart_path, 
            data: { turbo: false }, 
            class: 'flex flex-col gap-3' do |f| %>
            <%= f.hidden_field :id, value: @product.id %>
            <h2 class="flex items-center gap-2 text-2xl"><%= @product.title %></h2>
            <h3 class="text-xl">售價：<%= @product.price %></h3>

            <div>
                <%= f.select :quantity, (1..10).to_a, {}, class:"border border-slate-500" %>
                
            </div>

            <div class='ink-btn w-full text-center'>
                <%= link_to '收藏','#', data: { 
                    controller: 'like',
                    path: like_api_v1_product_path,
                    liked: current_user&.liked?(@product),
                    action: 'like#toggle',
                    like_target: 'btn'
                } %>
                    
            </div>
            <div>
                <%= f.submit '加入購物車', class: 'ink-btn w-full' %>
            </div>
        <% end %>
    </div>
</section>
    <p>
        <%= simple_format @product.description %>
    </p>
<section>
    <h3 class="text-xl">留言：</h3>
    <%= form_with(model: [@product, @comment]) do |form|%>
        <%= form.text_area :content, class: 'field'%>
        <div>
            <%= form.submit class:"ink-btn" %>
        </div>
    <% end %>
    <ul id="comment_area">
    <% @comments.each do |comment| %>
        <li><%= comment.content %></li>
    <% end %>
    </ul>
</section>